body{
    text-align:center;
    background-color: #CBE1EF;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

form{
    text-align:center;
}


table{
    margin-left: auto;
    margin-right: auto;
    background-color: #FDF8E2;
}

input{
    padding: 6px;
    border-radius: 4px;
}

input[type="submit"]{
    background-color: #F3BFB3;

}

input[type="submit"]:active{
    background-color: #C2998F;

}

input[type="text"], input[type="password"]{
    background-color: #FFDDD3;

}

label{
    width: 240px;
    display: inline-block;
}

